body {
    background-color: rgb(241, 245, 249);
    font-family: sans-serif;
    margin: 0;
    padding:0;
}

.navbar{
    background-color: rgb(30, 41, 59);
    padding: 15px 30px;
}

.navbar-nav{
    gap: 20px;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.nav-link:hover{
    color:rgb(255, 0, 0);

}


.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:white
  
}

.zen-dots-regular:hover{
    color: red;

}

.css_home{
  color: white !important;
  font-weight: bold !important;

}

.css_home:hover{
color: red !important;
}

.color_text{
    color: red;
}

