body {
    background-color: rgb(241, 245, 249);
    font-family: sans-serif;
    margin: 0;
    padding:0;
}

.navbar{
    background-color: rgb(30, 41, 59);
    padding: 15px 30px;
}

.navbar-nav{
    gap: 20px;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.nav-link:hover{
    color:rgb(255, 0, 0);

}

.logo{
    height: 60px;
}


